body{
  background-color: black;
}

h1 {
  font-family:'Press Start 2P';
  font-weight: lighter;
  color:white;
  position: relative;
  text-align: center;
}

#box {
  display:block;
text-align: center;
}
